body, html {
  height: 100%;
  margin: 0px;
  font-family: 'Noto Serif', serif;
}

.background {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.day {
  background: url(day.svg);
}

.night {
  background: url(night.svg);
}

.time-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.time {
  display: inline-block;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
}
